.hero {
  height: 90vh;
  display: grid;
  place-content: center;
  background-image: url("https://images.unsplash.com/photo-1632425422799-286dc4325dbb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--color-white);
  .hero__text {
    width: min(100vw, 2000px);
    padding-left: 10%;
    // h1
    .hero__title {
      font-family: var(--font-heading);
      font-size: clamp(1.5em, 5vw, 6em);
      position: relative;
      overflow: hidden;
      .hero__title--animated {
        position: absolute;
        top: 1.5em;
        padding-left: 0.5em;
      }
      .animated-1 {
        animation: slide-from-bottom 5500ms infinite linear;
      }
      .animated-2 {
        color: var(--color-main);
        animation: slide-from-bottom 5500ms 2500ms infinite linear;
      }
    }
  }
}

/* ANIMATION HERO TITLE */
@keyframes slide-from-bottom {
  0% {
    top: 1.5em;
    /* opacity: 0; */
  }
  15% {
    top: 0em;
    /* opacity: 1; */
  }
  30% {
    top: 0em;
    /* opacity: 1; */
  }
  45% {
    top: -2em;
    /* opacity: 0.5; */
  }

  60% {
    top: -3em;
    /* opacity: 0.5; */
  }
  100% {
    top: -3em;
    /* opacity: 0; */
  }
}