@import "fonts";
@import "reset";
@import "variables";

/* GLOBAL STYLING*/
body {
  background-color: aliceblue;
  /* hide orizontal scrollbar */
  overflow-x: hidden;
}

.body-container {
  background-color: var(--color-bg-body);
  max-width: 2000px;
  margin: auto;
  font-family: var(--font-body);
  font-size: var(--font-size);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

p {
  line-height: 1.7em;
  margin-bottom: 1em;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

i {
  color: var(--color-main);
}

#about,
#portfolio,
#contact {
  padding-top: 5em;
}

/* NAVBAR */
@import "navbar";

/* HERO SECTION */
@import "hero";

/* MAIN SECTION */

/* 1. ABOUT ARTICLE */
@import "about-section";

/* 2. PORTFOLIO */
@import "portfolio-section";

/* 3. CONTACT SECTION */
@import "contact-section";

/* FOOTER */
footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 2em;
  display: grid;
  place-items: center;
  gap: 1em;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 6em 0 4em;
  }
}

/* @media (min-width: 2001px) {
  .navbar {
    justify-content: center;
    column-gap: 5em;
  }
} */
