/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* COLORS */
  --color-black: #2a2e30;
  --color-main: #ec632e;
  --color-main-light: #fac5b0;
  --color-main-lighter: #faf1ee;
  --color-white: #eee;
  --color-bg-body: #f5f5f5;
  /* FONTS */
  --font-body: "Roboto", sans-serif;
  --font-heading: "Kanit", sans-serif;
  --font-size: 20px;
}

/* GLOBAL STYLING*/
body {
  background-color: aliceblue;
  /* hide orizontal scrollbar */
  overflow-x: hidden;
}

.body-container {
  background-color: var(--color-bg-body);
  max-width: 2000px;
  margin: auto;
  font-family: var(--font-body);
  font-size: var(--font-size);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

p {
  line-height: 1.7em;
  margin-bottom: 1em;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

i {
  color: var(--color-main);
}

#about,
#portfolio,
#contact {
  padding-top: 5em;
}

/* NAVBAR */
.navbar {
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-bottom: 1em;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
.navbar .navbar__logo {
  width: 200px;
  height: 100px;
  transition: transform 300ms ease-in-out;
}
.navbar .navbar__logo:hover {
  transform: scaleX(1.1);
}
.navbar .navigation {
  display: flex;
  gap: 1.5em;
  /* NAVIGATION HOVER ANIMATION */
}
.navbar .navigation .navigation__link {
  color: var(--color-white);
  font-size: 1.1em;
  text-transform: uppercase;
}
.navbar .navigation .navigation__link::after {
  content: "";
  display: block;
  background-color: var(--color-main);
  width: 0;
  height: 3px;
  margin-top: 3px;
  transition: width 300ms ease-in-out;
}
.navbar .navigation .navigation__link:hover::after {
  width: 100%;
}

/* HERO SECTION */
.hero {
  height: 90vh;
  display: grid;
  place-content: center;
  background-image: url("https://images.unsplash.com/photo-1632425422799-286dc4325dbb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--color-white);
}

.hero__text {
  /* the width will 100vw until it reaches 2000px */
  width: min(100vw, 2000px);
  padding-left: 10%;
}

.hero__title {
  font-family: var(--font-heading);
  font-size: clamp(1.5em, 5vw, 6em);
  position: relative;
  overflow: hidden;
}

.hero__title--animated {
  position: absolute;
  top: 1.5em;
  padding-left: 0.5em;
}

.animated-1 {
  animation: slide-from-bottom 5500ms infinite linear;
}

.animated-2 {
  color: var(--color-main);
  animation: slide-from-bottom 5500ms 2500ms infinite linear;
}

/* ANIMATION HERO TITLE */
@keyframes slide-from-bottom {
  0% {
    top: 1.5em;
    /* opacity: 0; */
  }
  15% {
    top: 0em;
    /* opacity: 1; */
  }
  30% {
    top: 0em;
    /* opacity: 1; */
  }
  45% {
    top: -2em;
    /* opacity: 0.5; */
  }
  60% {
    top: -3em;
    /* opacity: 0.5; */
  }
  100% {
    top: -3em;
    /* opacity: 0; */
  }
}
.hero__text p {
  font-size: 1.5em;
  text-align: end;
}

/* MAIN SECTION */
/* 1- ABOUT ARTICLE */
.about {
  padding: 2em 3em 1.5em 3em;
  width: 90%;
  margin: 3em auto;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* 1.1 PERSONAL INFO */
.personal-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin-bottom: 1.5em;
}

.profile-picture {
  width: 150px;
  height: 150px;
}

.profile-picture img {
  border-radius: 50%;
  border: 2px solid var(--color-black);
}

.personal-info .info__table {
  border-spacing: 10px 5px;
}

.personal-info .info__table th {
  color: var(--color-main);
  text-align: start;
}

/* 1.2 ABOUT ME  */
.about-me {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  margin-top: 3em;
}

.about h2 {
  font-family: var(--font-heading);
  font-size: 2em;
  margin-bottom: 1em;
}

.about-me > div {
  flex: 1 1 400px;
}

/* 1.2.2 SKILLS */
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 2em;
}

.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__item i {
  font-size: 4em;
}

/* 2. PORTFOLIO */
.portfolio {
  padding: 3em 0;
}

.portfolio h2,
.portfolio h3,
.portfolio p {
  text-align: center;
}

.portfolio h2 {
  font-family: var(--font-heading);
  color: var(--color-main);
  font-size: 3em;
  text-transform: uppercase;
}

.portfolio .sub-title {
  font-size: 1.5em;
}

/* 2.1- card section */
.card-container {
  width: 90%;
  margin: 3em auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2.5em;
}

.card-container .card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #fff;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  transition: transform 300ms ease-in-out;
}

.card .card-img {
  height: 300px;
}

.card h3 {
  font-family: var(--font-heading);
  color: var(--color-main);
  font-size: 1.5em;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover::after {
  content: "View Project";
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  place-items: center;
  background-color: var(--color-main-light);
  color: var(--color-main);
  font-size: 1.8em;
  font-family: var(--font-body);
  font-weight: 700;
}

/* 3. CONTACT SECTION */
.contact {
  width: 100%;
  padding: 4em 0;
  background-color: var(--color-main-lighter);
}

.contact__title {
  font-family: var(--font-heading);
  color: var(--color-main);
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.6em;
}

.contact__methods {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  padding: 1em;
}

.contact__info,
.contact__form {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
}

/* 3.1- Contact Info   */
.contact__info i {
  margin-right: 10px;
}

.info__contact a:hover {
  color: var(--color-main);
}

.info__social {
  display: flex;
  gap: 1em;
}

.info__social a {
  font-size: 2em;
  transition: transform 400ms ease-in-out;
}

.info__social a:hover {
  transform: scale(1.2);
}

/* 3.2- FORM */
.form__label {
  font-weight: 600;
}

.form__input {
  margin: 0.5em 0 1em 0;
  padding: 0.8em 1em;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--color-black);
}

.form__input:focus {
  border: none;
  outline: 2px solid var(--color-main);
}

.form__button {
  align-self: center;
  cursor: pointer;
  background-color: var(--color-main);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  font-family: var(--font-heading);
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  width: 30%;
  padding: 0.5em 0;
  transition: transform 300ms ease-in-out;
}

.form__button:hover {
  transform: scale(1.1);
}

/* FOOTER */
footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 2em;
  display: grid;
  place-items: center;
  gap: 1em;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 6em 0 4em;
  }
}
/* @media (min-width: 2001px) {
  .navbar {
    justify-content: center;
    column-gap: 5em;
  }
} */

/*# sourceMappingURL=index.css.map */
